.head
{
    background-color: #D7E23F;
    padding-top: 20px;
}
.instructor
{
    background-color: #46464A;
    color: #D7E23F;
}

.marking
{
padding-top: 20px;
background-color: #D7E23F;
}

.top
{
    background-color: #46464A;
    color: #D7E23F;
}

.mid
{
    background-color: #D7E23F;
}
